button {
    width: 200px;
    height: 7vh;
    border-radius: 10px;
    margin: 4px;
    border: none !important;
    margin-left: 60px !important;
}
button[type=delete]{
    background-color: rgb(178, 9, 9);
    color: aliceblue;
    font-size: 20px !important;
}
button[type=create]{
    background-color: rgb(9, 178, 20);
    color: aliceblue;
    font-size: 20px !important;
}
button[type=update]{
    background-color: rgb(59, 10, 238);
    color: aliceblue;
    font-size: 20px !important;
}