.closeModel{
    color: aliceblue;
    font-size: 30px !important;
    font-weight: 900;
    margin-top: -20px;
    text-align: end !important;
}
label{
    display: flex !important;
    flex-direction: column !important;
    justify-content: center;
    align-items: center !important;
}
input{
    display: block;
    height: 5vh;
    outline: none;
}
