.closeModel{
    color: aliceblue;
    cursor: pointer;
    font-size: 30px !important;
    font-weight: 900;
    margin-top: -20px;
    
    text-align: end !important;
}
label{
    display: flex !important;
    flex-direction: column !important;
    justify-content: center;
    align-items: center !important;
    color: whitesmoke !important;
    font-weight: 500;
    font-size: 20px;
    margin-top: 5% !important;
}
label > span {
    padding-bottom: 4% !important;
    margin-left: -100px;
}
label > input{
    display: block;
    width: 90% !important;
    margin-left:0;
    height: 5vh;
    border-radius: .4em !important;
    padding:  0 12px;
    outline: none;
}
