.modal {
    position: relative;
    background-color: black;
}
.modal-container{
    position: absolute;
    background-color: rgb(1, 9, 16) !important;
    top: -60em;
    left: 30% !important;
    width: 20em !important;
    height: 35vh;
    padding: 10px;
    border-radius: .8em !important;
}
.modal-container-dept{
    position: absolute;
    background-color: rgb(1, 9, 16) !important;
    top: -25em;
    left: 30% !important;
    width: 20em !important;
    height: 35vh;
    padding: 10px;
    border-radius: .8em !important;
}
.modal-container-dept > .modal-body > form > label > span {
    padding-bottom: 4% !important;
    margin-left: -30px;
}
.modal-footer button {
    width: 50% !important;
    display: block;
    margin-top: 10px;
    background-color: red;
    cursor: pointer;
    margin-left: 0px !important;
}
.modal-container-staff_update {
    background-color: rgb(1, 9, 16) !important;
    position: absolute;
    top: -65em;
    left: 7.5% !important;
    width: 80% !important;
    padding-left: 100px !important;
    padding-bottom: 50px !important;
    border-radius: 20px !important;
}
.modal-container-staff_update > 
.modal-body > form {
    display: grid !important;
    grid-template-columns: 50% 50% !important;
}
.modal-container-staff_update > 
.modal-body > form > label {
    display: block;
}
.modal-container-staff_update > 
.modal-body > form > label > span {
    margin-left: -440px !important;
    text-align: justify;
    margin-bottom: -45px !important;
}
.modal-container-staff_update > 
.modal-body > form > label > input {
    width: 50% !important;
    display: inline;
}
.modal-container-staff_update > 
.modal-footer > button {
    width: 280px !important;
    margin-top: -40px !important;
    margin-left: 620px !important;
}