.modal {
    position: relative;
    background-color: black;
}
.modal-container{
    position: absolute;
    background-color: rgb(1, 9, 16) !important;
    top: -60em;
    left: 40% !important;
    width: 20em !important;
    height: 35vh;
    padding: 10px;
    border-radius: .8em !important;
}
.modal-container-dept{
    position: absolute;
    background-color: rgb(1, 9, 16) !important;
    top: -25em;
    left: 40% !important;
    height: 25vh;
    padding: 10px;
}
.modal-footer button {
    width: 50% !important;
    margin-top: 10px;
    background-color: red;
    cursor: pointer;
    
}
.modal-container-staff_update {
    background-color: rgb(1, 9, 16) !important;
}