table, th, td {
    border: 1px solid #ccc;
    border-collapse: collapse;
    margin: 50px;
}
th, td{
    width: auto !important;
    padding: 4px 12px !important;
}
caption{
    font-weight: 900;
    font-size: 30px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    text-shadow: 1px 1px 4px rgba(0, 0, 0, 0.5);
}